#Everything in this file gets ignored when checking in code to git

# Build outputs
output/*.*

# Extracted Data from Notebook Tooling
extracted_data/

# IDE
*.swp
.idea/
*.sublime-workspace
*.sublime-project

# Operating System
.DS_Store
Thumbs.db

# Virtual Environment for Python Notebooks
venv/
.venv/

#Emulator Files
Gens.cfg    
language.dat
*.srm
*.gs*